body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  body {
    padding-bottom: 50px;
  }
.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("http://www.kukinews.com/data/kuk/image/2021/07/20/kuk202107200381.jpg");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("https://images.chosun.com/resizer/xW-FXbIymaidzneYjx1vz0agUZY=/616x0/smart/cloudfront-ap-northeast-1.images.arcpublishing.com/chosun/DX5I2HK3EKU6BSYNSSAJ2FDJYA.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/202106/16/0bf38986-d90d-46fd-9736-325a68a750b4.jpg");
    min-height: 400px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
    }
  }


.sidenav{
    height: 0px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    /* padding-top: 60px; */
    overflow: hidden;
    transition: 0.5s;
}
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #888;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #fff;
}
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px;
}
#content {
    margin: 5%;
    transition: 0.5s;
 
}
.cen{
  text-align: center;
  color: white;
}
#ka{
    color: yellow;
}
#ma{
  color: white;
}
#ya{
  color: red;
}



.slider {
  width: 100%;
  height: 300px;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;

}
.slider .slide {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: -100%;
}
.slider .slide:first-child { left: 0; }
.slider .slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
}
.slider .slide .numbertext {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  z-index: 1;
  text-shadow: 1px 1px 2px #111;
}
.slider .slide .text {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 1;
  font-size: 30px;
  text-shadow: 1px 1px 2px #111;
}
.slider .prev, .slider .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  text-shadow: 1px 1px 2px #111;
  color: white;
  z-index: 99;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}
.slider .prev { left: 10px; }
.slider .next { right: 10px; }

.space {
  height: 50px;
  text-align: center;
  color: #777;
  font-size: 15px;
}

